<div class="container d-flex flex-column">
    <div class="page__box">
        <span>Profile</span>
    </div>

    <div class="d-flex border-bottom border-primary text-center mt-3 ">
        <div class="image m-2">
            <img src="../../../assets/image/admin.jfif" class="border border-primary rounded-circle" alt="admin image">
        </div>
        <div class="info text-start">
            <h1 class="fw-bold">Nadir WACHAFIHA</h1>
            <span class="email fw-bold">Nadir.WACHAFIHA@gmail.com  </span>
            <span class="fs-6">-   admin</span>
        </div>
    </div>

    <div class="info ">
        <div class="mb-3 row">
            <label for="fullName" class="col-lg-2 col-form-label">Full Name :</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="Nadir wachfiha">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-lg-2 col-form-label ">Email :</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="Nadir.WACHAFIHA@gmail.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-lg-2 col-form-label">Role :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="admin">
            </div>
          </div>
    </div>
</div>