
    <div class="container h-100 ">
      <h1 class="text-center fw-bolder text-uppercase text-decoration-underline mt-5">Preferred Destinations</h1>
        <div class="row align-middle">  
          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-1">
              <div class="txt">
                <h1>Rabat</h1>
                <p class="text-uppercase">Read more about city</p>
              </div>
              <a href="#">more</a>
              <div class="ico-card">
              <i class="fa fa-rebel"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-2">
              <div class="txt">
                <h1>chefchaouen</h1>
                <p class="text-uppercase">Read more about city</p>
              </div>
              <a href="#">more</a>
            <div class="ico-card">
              <i class="fa fa-codepen"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-3">
              <div class="txt">
                <h1>Fés</h1>
                <p class="text-uppercase">User Interface and User Experience Design.</p>
              </div>
              <a href="#">more</a>
            <div class="ico-card">
              <i class="fa fa-empire"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-4">
              <div class="txt">
                <h1>Casablanca</h1>
                <p class="text-uppercase">Read more about city</p>
              </div>
              <a href="#">more</a>
              <div class="ico-card">
              <i class="fa fa-rebel"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-5">
              <div class="txt">
                <h1>Marzouga</h1>
                <p class="text-uppercase">Read more about city</p>
              </div>
              <a href="#">more</a>
            <div class="ico-card">
              <i class="fa fa-codepen"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-6">
              <div class="txt">
                <h1>marrakech</h1>
                <p class="text-uppercase">User Interface and User Experience Design.</p>
              </div>
              <a href="#">more</a>
            <div class="ico-card">
              <i class="fa fa-empire"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-7">
              <div class="txt">
                <h1>tanger</h1>
                <p class="text-uppercase">Read more about city</p>
              </div>
              <a href="#">more</a>
              <div class="ico-card">
              <i class="fa fa-rebel"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-8">
              <div class="txt">
                <h1>maknes</h1>
                <p class="text-uppercase">Read more about city</p>
              </div>
              <a href="#">more</a>
            <div class="ico-card">
              <i class="fa fa-codepen"></i>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card rounded gr-9">
              <div class="txt">
                <h1>warzazate</h1>
                <p class="text-uppercase">User Interface and User Experience Design.</p>
              </div>
              <a href="#">more</a>
            <div class="ico-card">
              <i class="fa fa-empire"></i>
            </div>
            </div>
          </div>

        </div>
      </div>
