<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/image/logo.jfif" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2 text-white text-center">MENU</h2>
  <ul class="list-unstyled text-center text-white">
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3 cursor" [routerLinkActive]="['list-item-active']" routerLink="/status">
      <mat-icon>show_chart</mat-icon> status
    </li>
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3 cursor" [routerLinkActive]="['list-item-active']" routerLink="/flights">
      <mat-icon>flight</mat-icon> flight
    </li>
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3 cursor" [routerLinkActive]="['list-item-active']" routerLink="/users">
      <mat-icon>supervised_user_circle</mat-icon> users
    </li>
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3 cursor" [routerLinkActive]="['list-item-active']" routerLink="/tickets">
      <mat-icon>loyalty</mat-icon> tickets
    </li>
  </ul>
</mat-nav-list>
</mat-drawer>
<mat-drawer-content>
  <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
<div class="container page">
  <div class="d-flex justify-content-between page__box p-3">
    <span class="p-3">Status</span>
    <button type="button" class="btn btn-primary add_btn me-2" (click)="openDialog()">
      <mat-icon class="add_icon">add</mat-icon>Add flight
    </button>
  </div>

  <table class="table table-striped table-hover table-bordered border-primary mt-2">
    <thead>
      <tr>
        <th scope="col">flight name</th>
        <th scope="col">date</th>
        <th scope="col">from</th>
        <th scope="col">to</th>
        <th scope="col">airport</th>
        <th scope="col">airline</th>
        <th scope="col">price (MAD)</th>
        <th scope="col">seat</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <td>{{ flight.flightName }}</td>
        <td>{{ flight.date }}</td>
        <td>{{ flight.from }}</td>
        <td>{{ flight.to }}</td>
        <td>{{ flight.airport }}</td>
        <td>{{ flight.airline }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.seat }}</td>
        <td class="d-flex">
          <button mat-icon-button matTooltip="edit"  class="yellowText" (click)="edit()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="delete" color="warn" (click)="dalete()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>  
</div>
</mat-drawer-content>
</mat-drawer-container>
