.page {
    background: #f1f5f9;
  }
  
  .page__box {
    min-height: 50px;
    background: #204fbd;
    margin: 0 -1rem;
    font-size: 36px;
    color: white;
  }

  .add_btn {
    color: #204fbd;
    background-color: white;
  }

  .add_btn:hover {
    color: white;
    background-color: #204fbd;
    border: 1px #f1f5f9 solid;
  }

  .add_icon{
    padding-top: 5px;
  }

  .yellowText {
    color: rgb(255, 193, 7);
  }
  
  

  