<div class="d-flex flex-row">
    <div class="informatin">
      <span class="">7</span><br>
      <span class="">Passenger(s)</span>
    </div>
    <mat-icon class="w-50 h-50 icon">account_circle</mat-icon> 
    
    <div class="informatin ">
      <span class="">1</span><br>
      <span class="s-span">Ticket(s)</span>
    </div>
    <mat-icon class="w-50 h-50 icon">loyalty</mat-icon> 
    
    <div class="informatin h-50">
      <span class="">9</span><br>
      <span class="pt-2">flight(9)</span>
    </div>
    <mat-icon class="w-50 h-50 icon">flight</mat-icon> 
</div>
