.logo {
  text-align: center;
  padding: 2.6rem 1rem;
}

.logo img {
  width: 200px;
  border-radius: 5px;
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

.aligned-icon mat-icon {
  margin-right: 5px;
}