<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/image/logo.jfif" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2 text-white text-center">MENU</h2>
  <ul class="list-unstyled text-center text-white">
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3" routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>show_chart</mat-icon> status
    </li>
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3" routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>flight</mat-icon> flight
    </li>
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3"> <mat-icon>supervised_user_circle</mat-icon> users </li>
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3"> <mat-icon>loyalty</mat-icon> tickets </li>
    <li mat-list-item class="d-flex align-items-center aligned-icon justify-content-center py-3"> <mat-icon >account_circle</mat-icon> profile </li>
</ul>
</mat-nav-list>