.page__box {
    min-height: 50px;
    background: #204fbd;
    margin: 0 -1rem;
    font-size: 36px;
    color: white;
  }

  .chart{
    display: block;
    height: 340px;
    width: 90%;
    left: 4%;
    top: 40px;
  }