<h2 class="text-center" mat-dialog-title>Add flight</h2>
<div mat-dialog-content>
    <form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

        <div class="form-outline d-flex mb-4">
          <div>
            <label for="flightName">flight name</label>
            <input type="text" id="flightName" formControlName="flightName" class="form-control form-control-lg" />
          </div>

          <div class="ms-2">
            <label for="date">Select Date:</label>
            <input type="date" id="date" formControlName="date" class="form-control form-control-lg" />
          </div>
        </div>

        <div class="form-outline d-flex mb-4">
          <div>
            <label for="fromCity" >city from</label>
            <input type="text" id="fromCity" formControlName="fromCity" class="form-control form-control-lg" />
          </div>

          <div>
            <label for="toCity" class="ms-2">city to</label>
            <input type="text" id="toCity" formControlName="toCity"  class="form-control form-control-lg ms-2" />
          </div>
        </div>

        <div class="form-outline d-flex mb-4">
          <div>
            <label for="airport">airport</label>
            <input type="text" id="airport" formControlName="airport" class="form-control form-control-lg" />
          </div>

          <div>
           <label for="airline" class="ms-2">airline</label>
           <input type="text" id="airline" formControlName="airline" class="form-control form-control-lg ms-2" />
          </div>
        </div>

        <div class="form-outline d-flex mb-4">
          <div>
            <label for="price">price (MAD)</label>
            <input type="number" id="price" formControlName="price" class="form-control form-control-lg" />
          </div>

          <div >
            <label for="seatNamber" class="ms-2">seat namber</label>
            <input type="number" id="seatNamber" formControlName="seatNamber" class="form-control form-control-lg ms-2" />
          </div>
        </div>

      </form>

 </div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button type="submit" color="primary" [mat-dialog-close]="myForm.value" cdkFocusInitial>Submit</button>
</div> 
